In [ ]:
import numpy as np

In [ ]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [ ]:
while True:
  n = int(input("Enter integer between 5 and 15"))
  try:
    n = int(n)
  except:
    print("Enter intereger value")
    continue
  if n < 5 or n > 15:
    print("Enter value between 5 and 15")
    continue
  break

Enter integer between 5 and 1514

In [ ]:
n = int(input("Enter some integer"))

Enter some integer10

In [ ]:
MyList = random_list(n)
MyList

[31, 32, 12, 10, 36, 46, 23, 12, 41, 47]

In [ ]:
MySum = sum_random(MyList)
MySum

290